<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esidha</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Nunito, sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
}
svg{
    width: 25px;
}
/* css header */
header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .logo{
    font-weight: bold;
}
header .menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}
header .menu li{
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
/* css slider */
.slider{
    margin-top: -50px;
    height: 100vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #5d5b5b 20%, transparent
    );
}
.slider .list .item .company-name {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 1;
}
.slider .list .item .company-name p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 5px;
}
.slider .list .item .content{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 1;
    margin-top: 65%;
}
.slider .list .item .company-name h2{
    font-size: 70px;
    margin: 0;
    color: black;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 10%;
    right: 50px;
    z-index: 100;
    display: none;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 220px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 200px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.whatsapp-icon {
    position: fixed;
    bottom: 4%;
    right: 5%;
    z-index: 11;
    cursor: pointer;
    background-color: transparent;
}
.whatsapp-icon img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
@media screen and (max-width: 920px) {
    .arrows{
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .company-name h2{
        font-size: 40px;
    }
    .thumbnail::-webkit-scrollbar{
        width: 0;
    }
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
        height: 170px;
    }
    .slider .list .item .company-name h2{
        font-size: 30px;
    }
    .whatsapp-icon img {
        width: 30px;
        height: 30px;
    }
    .thumbnail::-webkit-scrollbar{
        width: 0;
    }
    .thumbnail .item{
        width: 100px;
        height: 150px;
    }
}
    </style>
</head>

<body>
    <!-- header -->
    <header>
        <div class="logo"></div>
        <ul class="menu">
            <li onclick="window.location.href = '/about'">ABOUT</li>
            <li onclick="window.location.href = '/contact'">CONTACT</li>
            <li onclick="window.location.href = '/services'">SERVICES</li>
        </ul>
    </header>

    <!-- slider -->
    <div class="slider">
        <!-- list Items -->
        <div class="list">
            <div class="item active">
                <img src="image/img1.jpg">
                <div class="company-name">
                    <p style="color: black;">ESIDHA</p>
                    <h2>#1 CHOICE</h2>
                </div>
                <div class="content">
                    <p style="text-align: justify;">
                        Empower Your Academic Success with Our Premier Assignment Writing Services! Let ESIDHA be your
                        trusted partner in achieving academic excellence. Our team of experts is dedicated
                        to providing tailored solutions to meet your academic needs. Experience the difference today!
                    </p>
                    <button onclick="window.location.href = '/about'"
                        style="padding: 10px; border: 0px solid black; background-color: #EDDFB1; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">Know
                        More</button>
                </div>
            </div>
            <div class="item">
                <img src="image/img2.jpg">
                <div class="company-name">
                    <p style="color: black;">ESIDHA</p>
                    <h2>Our Services</h2>
                </div>
                <div class="content">
                    <p style="text-align: justify;">
                        Services we provide.
                    </p>
                    <button onclick="window.location.href = '/services'"
                        style="padding: 10px; border: 0px solid black; background-color: #EDDFB1; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">Services
                    </button>
                </div>
            </div>
            <div class="item">
                <img src="image/img3.jpg">
                <div class="company-name">
                    <p style="color: black;">ESIDHA</p>
                    <h2>Why Choose Us?</h2>
                </div>
                <div class="content">
                    <p style="text-align: justify;">At ESIDHA, trust, quality, and reliability drive our commitment to
                        your academic success. With high standards in research and presentation, count on us for
                        unwavering support.
                    </p>
                    <button onclick="window.location.href = '/why-us'"
                        style="padding: 10px; border: 0px solid black; background-color: #EDDFB1; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">Know
                        More</button>
                </div>
            </div>
            <div class="item">
                <img src="image/img4.png">
                <div class="company-name">
                    <p style="color: black;">ESIDHA</p>
                    <h2>24/7 SUPPORT</h2>
                </div>
                <div class="content">
                    <p style="text-align: justify;">
                        Get Help Anytime, Anywhere! Our Customer Service Team Is Available 24/7 to Assist You. Whether
                        You Have Questions, Need Assistance, or Require Support, We're Here for You Every Step of the
                        Way. Experience Unparalleled Convenience and Peace of Mind with Our Round-the-Clock Support.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="image/img5.jpg">
                <div class="company-name">
                    <p style="color: black;">ESIDHA</p>
                    <h2>Get Started Today</h2>
                </div>
                <div class="content">
                    <p style="text-align: justify;">
                        Take the First Step Towards Academic Excellence - Contact Us Now!
                    </p>
                    <button onclick="window.location.href = '/contact'"
                        style="padding: 10px; border: 0px solid black; background-color: #EDDFB1; cursor: pointer; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">Contact
                        Now</button>
                </div>
            </div>
        </div>
        <!-- button arrows -->
        <div class="arrows">
            <button id="prev">
                < </button>
                    <button id="next"> > </button>
        </div>
        <!-- thumbnail -->
        <div class="thumbnail">
            <div class="item active">
                <img src="image/img1.jpg">
            </div>
            <div class="item">
                <img src="image/img2.jpg">
            </div>
            <div class="item">
                <img src="image/img3.jpg">
            </div>
            <div class="item">
                <img src="image/img4.png">
            </div>
            <div class="item">
                <img src="image/img5.jpg">
            </div>
        </div>

        <!-- whatsapp-icon --->
        <div class="whatsapp-icon">
            <a href="https://wa.me/9058210133/?text=Hello%21%20I'm%20interested%20in%20your%20services."
                target="_blank">
                <img src="/image/whatsapp_icon.png">
            </a>
        </div>
    </div>

    <script>
        let items = document.querySelectorAll('.slider .list .item');
let next = document.getElementById('next');
let prev = document.getElementById('prev');
let thumbnails = document.querySelectorAll('.thumbnail .item');

// config param
let countItem = items.length;
let itemActive = 0;
// event next click
next.onclick = function(){
    itemActive = itemActive + 1;
    if(itemActive >= countItem){
        itemActive = 0;
    }
    showSlider();
}
//event prev click
prev.onclick = function(){
    itemActive = itemActive - 1;
    if(itemActive < 0){
        itemActive = countItem - 1;
    }
    showSlider();
}
// auto run slider
let refreshInterval = setInterval(() => {
    next.click();
}, 5000)
function showSlider(){
    // remove item active old
    let itemActiveOld = document.querySelector('.slider .list .item.active');
    let thumbnailActiveOld = document.querySelector('.thumbnail .item.active');
    itemActiveOld.classList.remove('active');
    thumbnailActiveOld.classList.remove('active');

    // active new item
    items[itemActive].classList.add('active');
    thumbnails[itemActive].classList.add('active');

    // clear auto time run slider
    clearInterval(refreshInterval);
    refreshInterval = setInterval(() => {
        next.click();
    }, 5000)
}

// click thumbnail
thumbnails.forEach((thumbnail, index) => {
    thumbnail.addEventListener('click', () => {
        itemActive = index;
        showSlider();
    })
})
    </script>
</body>

</html>